@{
	ViewData["Title"] = "Водители";
}

<div>
	@Html.ActionLink("Добавить", "Add")
</div>
<div>
	@Html.ActionLink("Удалить", "Delete")
</div>
<div>
	@Html.ActionLink("Изменить", "Modify")
</div>
<div>
	@Html.ActionLink("Дать список", "List")
</div>
