@{
	ViewData["Title"] = "Завершение операции";
}

<form method="post" action="~/Drivers/Index">
	<div class="panel">
		<div>@ViewBag.UserAlert</div>
	</div>
	<button type="submit">Вернуться</button>
</form>

