@{
    ViewData["Title"] = "Домашнаяя страница";
}

<div class="text-center">
    <h1 class="display-4">Картотека водителей</h1>
    <p>Для работы с картотекой водителей воспользуйтесь ссылками в меню.</a>.</p>
</div>
